## Gradle
.gradle
build
gradle
gradlew
gradlew.bat

## ForgeGradle
run

## Eclipse
eclipse
.settings
.metadata
.classpath
.project
bin
*.launch

## IntelliJ
out
.idea
*.iml
*.ipr
*.iws
atlassian-ide-plugin.xml

## Mac
.DS_Store

## Project
libs
